.jumbotron {
    padding-top: 6rem;
    background-color: #a2d9ff;
}
section {
    padding-top: 7rem;
}
.brand {
    display: flex;
    flex-direction: row;
    font-size: 35px;
    padding: 5px;
    text-transform: capitalize;
    font-family:cursive;
}
.firstname {
    color: white;
    font-weight: 600;
    
}
.lastname {
    color:grey;
    font-weight: 300;
    padding-left: 5px;
}